.button {
    height: 50px;
    font-weight: 500;
    color: #fff;
    background-color: #835AFD;
    border-radius: 8px;
    border: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: filter 0.3s;

    img{
        margin-right: 8px;
    }

    &:hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}